@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overflow: hidden;
}

.neon {
  color: #fff;
  text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;  
}

.btn {
  margin: 14px auto;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF00;
  font-weight: 500;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 240px;
  height: 226px;
  transform: translateX(4px) translateY(36px);  
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgb(180, 255, 255, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
          transparent,
          rgba(255, 255, 255, 0.4),
          transparent);
  transition: all 650ms;
  font-weight: bolder;
}

.btn:hover:before {
  left: 100%;
}

.btn-primary {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 200px;
  width: 120px;
}

.btn-primary:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  border-radius: 4px;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.marco-informativo {
  background-image: url('../public/marco.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn-cotizar {
  text-decoration: none;
  border: 2px solid dodgerblue;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background-color: #00ffff44;
  font-weight: 500;
  box-shadow: 1px 1px 25px 10px rgba(0, 255, 255, 0.8);
}

.btn-cotizar:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
          transparent,
          rgba(255, 255, 255, 0.4),
          transparent);
  transition: all 650ms;
  font-weight: bolder;
}

.btn-cotizar:hover:before {
  left: 100%;
}

.btn-primary {
  color: white;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-size: xx-large;
  height: 62px;
  width: 240px;
}

.btn-primary:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  border-radius: 4px;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}